@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.userCardConteiner {
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 5px 20px lightgray;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  .userPhoto {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    img {
      width: 100%;
    }
    &::before {
      display: block;
      position: absolute;
      box-sizing: border-box;
      height: 100%;
      width: 37%;
      content: '';
      background-color: rgba(226, 81, 81, 0.774);
    }
    .company {
      z-index: 70;
      height: 20%;
      width: 37%;
      padding: 3% 8%;
      font-size: 2rem;
      color: white;
    }
  }
  .userName{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .jobFunction{
    text-transform: capitalize;
    font-style: italic;
    font-size: larger;
    color: grey;
    
  }
}
