@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.userListItem {
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 5px 20px lightgray;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 20px auto;
  .userPhoto {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    img {
      width: 100%;
      margin-bottom: 25%;
    }
    &::before,
    &::after {
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 37%;
      background-color: rgba(226, 81, 81, 0.774);
    }
    &::before {
      height: 100%;
      content: '';
    }
    &::after {
      bottom: 0;
      height: 20%;
      content: 'arch owl';
      color: white;
      font-size: 2.2rem;
      padding: 0 5%;
    }
    &.female{
      &::before,
      &::after {
            background-color: rgba(180, 81, 226, 0.685);
      }
    }
  }
  .userName {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .city {
    text-transform: capitalize;
    font-style: italic;
    font-size: larger;
    color: grey;
  }
  *{
    user-select: none;
  }
}
